#encabezado{
    background-color: rgb(109, 109, 223);
    padding-top: 0.05cm;
  }
  #titulo{
    font-family: 'Secular One', sans-serif;
    text-align: center;
    font-size: 100px;
  }
  #navegador{
    background-color: aqua;
  }
  #navegador ul{
    list-style-type: none;
    text-align: center;
  }
  #navegador li{
  
    display: inline;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
  }
  #logobac img{
      margin-left: 14.05cm;
      height: 250px;
      width: 400px;
  }
  #pie{
    padding-top: 7cm;
  
  }
